In [2]:
import pandas as pd
import numpy as np

adult = pd.read_csv("/content/adult.csv")

In [3]:
adult.head()
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19240 entries, 0 to 19239
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              19240 non-null  int64
 1   workclass        19240 non-null  object
 2   fnlwgt           19240 non-null  int64
 3   education        19240 non-null  object
 4   educational-num  19240 non-null  int64
 5   marital-status   19240 non-null  object
 6   occupation       19240 non-null  object
 7   relationship     19240 non-null  object
 8   race             19240 non-null  object
 9   gender           19240 non-null  object
 10  capital-gain     19240 non-null  int64
 11  capital-loss     19239 non-null  float64
 12  hours-per-week   19239 non-null  float64
 13  native-country   19239 non-null  object
 14  income           19239 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 2.2+ MB

In [4]:
num_cols = ['age', 'fnlwgt', 'education-num',
            'capital-gain', 'capital-loss', 'hours-per-week']

In [5]:
cat_cols = ['workclass', 'education', 'marital-status',
            'occupation', 'relationship', 'race',
            'sex', 'native-country']

In [6]:
target = 'income'

In [7]:
adult.replace('?', np.nan, inplace=True)
adult.dropna(inplace=True)